/* This is the CSS for when a product is added to the cart */

#added-to-cart-notification > div {
    display : flex;
}

#added-to-cart-notification > div > img {
    max-height : 150px;
    max-width  : 150px;
    min-height : 150px;
    object-fit : cover;
}

div#added-to-cart-notification {
    min-width : 500px;
}

div#product-preview {
    display     : flex;
    align-items : center;
}

#product-details {
    display : inline-block;
}

#product-details > p {
    margin : 0;
}

#options-div {
    display : flex;
}

#options-div > form {
    margin : 7px;
}

#cost-div {
    width            : 200px;
    height           : 278px;
    background-color : #f5f3f1;
    padding          : 15px;
}

#added-image {
    width      : 150px;
    height     : 150px;
    object-fit : cover;
}

#recommendations-div {
    height      : 150px;
    margin-left : 100px;
}

#recommendation-items {
    display    : flex;
    min-width  : 500px;
    overflow-y : scroll;
}

.recommended-item {
    display : flex;
}

.recommended-item p {
    margin : 0;
}

.recommended-item img {
    width      : 150px;
    height     : 150px;
    object-fit : cover;
}

.recommended-details input, .recommended-details button {
    margin-left : 10px;
    margin-top  : 10px;
}

.recommended-details {
    min-width : 300px;
}

.recommendation-image {
    width      : 120px;
    height     : 145px;
    object-fit : cover;
}