/* This is the CSS for when a product is added to the cart */

#added-to-cart-notification > div {
    display : flex;
}

#added-to-cart-notification > div > img {
    max-height : 150px;
    max-width  : 150px;
    min-height : 150px;
    object-fit : cover;
}

div#product-preview {
    display     : flex;
    align-items : center;
}

#product-details {
    display : inline-block;
}

#product-details > p {
    margin : 0;
}

#options-div {
    display : flex;
}

#options-div > form {
    margin : 7px;
}

#cost-div {
    width            : 200px;
    height           : 278px;
    background-color : #f5f3f1;
    padding          : 15px;
}

#added-image {
    width      : 150px;
    height     : 150px;
    object-fit : cover;
}