/* This is the CSS for the customer checkout page */

#summary {
    display : flex;
}

#items-table {
    width : 660px;
}

#account-information {
    width         : 450px;
    margin-top    : 20px;
    margin-right  : 20px;
    margin-bottom : 20px;
    margin-left   : 70px;
    padding       : 10px;
}

#account-information > div {
    display    : flex;
    margin-top : 30px;
}

#account-information > div > div {
    margin-right : 60px;
}

#account-information > div > div > p {
    font-size : 14px;
}