/* This is the CSS for the orders of a customer */

#content {
    margin : 49px;
}

.container {
    margin       : 0;
    margin-right : 50px;
}

#order-products {
    width : 100%;
}

.card-img-top {
    min-height : 230px;
    min-width  : 250px;
    max-height : 230px;
    max-width  : 250px;
    object-fit : cover;
}

p {
    margin : 0;
}