/* This is the CSS for the orders of a customer */

#content {
    margin : 49px;
}

.list-group {
    max-height : 400px;
    overflow   : scroll;
}

.card {
    height    : 350px;
    width     : 250px;
    min-width : 250px;
    max-width : 250px;
}

.card-img-top {
    min-height : 230px;
    min-width  : 250px;
    max-height : 230px;
    max-width  : 250px;
    object-fit : cover;
}

p {
    margin : 0;
}