/* This is the CSS for the orders of a customer */

#accordion {
    width : 400px;
}

#order-products {
    width       : 100%;
    margin-left : 50px;
}

.card {
    margin-bottom : 5px;
}

p {
    margin : 0;
}