/*!* This is the CSS for the navigation bar. *!*/
#logo {
    margin-right   : 0;
    font-weight    : bold;
    letter-spacing : 1.5px;
    text-align     : center;
}

#search-group,
#search-bar {
    flex-grow : 2;
}
