/* This is the CSS for the navigation bar. */

#nav-main {
    margin: 10px;
}

#logo {
    margin-right: 0;
    font-weight: bold;
    letter-spacing: 1.5px;
    text-align: center;
}

#navbarSupportedContent {
    padding: 0;
    margin: 0;
    text-align: center;
}

#user-section {
    padding: 0;
    display: flex;
}

#shopping-cart {
    margin-left: 10px;
    margin-right: 30px;
}

#cart-image {
    width: 43px;
    height: 43px;
}

a:hover {
    text-decoration: none;
    color: black;
}