/*!* This is the CSS for the navigation bar. *!*/
#logo {
    margin-right   : 0;
    font-weight    : bold;
    letter-spacing : 1.5px;
    text-align     : center;
}

#search-group,
#search-bar {
    flex-grow : 2;
}

#wishlist_icon g path,
.wish-button {
    fill       : #bebebe;
    transition : fill 250ms;
}

#wishlist_icon g path:hover,
.wish-button:hover,
a.wished .wish-button,
.wish-link:hover, .wish-link {
    cursor : pointer;
    fill   : rgb(255, 59, 48);
    color  : rgb(255, 59, 48);
}