/* This is the CSS of the Sign-in page */

#content {
    margin      : 50px;
    padding     : 40px;
    text-align  : center;
    align-items : center;
}

#inputs {
    margin-top : 25px;
    padding    : 10px;
    display    : inline-block;
}

#sign-in-button {
    margin : 10px;
}

#sign-up {
    margin-top : 3px;
}

input {
    margin-top    : 8px;
    margin-bottom : 8px;
}

a {
    text-decoration : none;
}