<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <title>A2D Wireless</title>

    <!-- Bootstrap CDNs -->
    {% include 'bootstrap.html' %}

</head>
<body class="h-100 bg-faded">

{% if error %}
    <div class="alert alert-danger fixed-top" role="alert">
        <strong>{{ error }}</strong>
    </div>
{% endif %}

<div class="d-flex align-items-center h-100">
    <div class="container">
        <h1 class="display-4 text-center pb-5">Administrator Sign In</h1>

        <div class="row">
            <div class="col-6 col-md-3"></div>
            <div class="col-6 col-md-6 text-center">
                <form method="POST" class="col-12" id="inputs">
                    {% csrf_token %}
                    <input type="text" class="form-control form-control-lg col-12 m-1" placeholder="Username"
                           name="username">
                    <input type="password" class="form-control form-control-lg col-12 m-1" placeholder="Password"
                           name="password">
                    <button type="submit" class="btn btn-primary btn-lg m-3" id="sign-in-button">Sign In</button>
                </form>
                <a href="/customer-sign-in/">Not an administrator? Sign in here</a>

            </div>

        </div>
        <div class="col-6 col-md-3"></div>
    </div>

</div>
</body>
</html>
