<!-- TODO -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confirm Payments</title>

    {% include 'bootstrap.html' %}

    <!--Custom CSS-->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/entity_management.css' %}">
    <link rel="stylesheet" href="{% static 'css/general.css' %}">

    <!--Import custom JS here-->
    <script type="text/javascript" src="{% static "/js/general.js" %}"></script>
    <script type="text/javascript" src="{% static "/js/jquery-3.1.1.js" %}"></script>
    <script type="text/javascript" src="{% static "/js/entity_management.js" %}"></script>
    <script type="text/javascript" src="{% static "/js/cookie.js" %}"></script>

</head>
<body class="bg-faded">

<!--Nav Bar-->
{% include 'entity_nav.html' %}

<!---Nav Bar Active--->
<script>
    $(() => {
        $('#confirm-payments-nav').addClass('active')
    })
</script>


<!-- Content -->
<div class="container mt-5">
    <h1 class="text-center p-4">Confirm Payments</h1>
    <br>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Order No.</th>
            <th>Date of Payment</th>
            <th>Amount Paid</th>
            <th>Deposit Slip</th>
        </tr>
        </thead>
        <tbody>
        {% for order in pending_orders %}
            <tr class="clickable-row" data-toggle="modal" data-target="#details">
                <td>{{ order.id }}</td>
                <td>{{ order.customer_payment_date }}</td>
                <td>P {{ order.total_price }}</td>
                {% if order.customer_deposit_photo %}
                    <td><a class="btn btn-primary" href="{{ order.customer_deposit_photo.url }}">View Photo</a></td>
                {% else %}
                    <td class="text-muted">No deposit url</td>
                {% endif %}
            </tr>
        {% endfor %}

        </tbody>
    </table>
</div>

{% for order in pending_orders %}

    <!-- Payment Details Modal -->
    <!-- TODO: Make this a table -->
    <div class="modal fade" id="details">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Payment Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div>
                    <div class="modal-body d-flex p-4">
                        <div class="mr-5">
                            <h5 class="ml-2 mb-3">Order Details</h5>
                            <table class="table">
                                <tbody>
                                <tr>
                                    <th>Order ID</th>
                                    <td>Order #{{ order.id }}</td>
                                </tr>
                                <tr>
                                    <th>Date ordered</th>
                                    <td>{{ order.date_ordered }}</td>
                                </tr>
                                <tr>
                                    <th>Deposit photo</th>
                                    {% if order.customer_deposit_photo %}
                                        <td><a href="{{ order.customer_deposit_photo.url }}" target="_blank">View Photo</a>
                                        </td>
                                    {% else %}
                                        <td class="text-muted">No deposit url</td>
                                    {% endif %}
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div>
                            <h5 class="ml-2 mb-3">Customer Details</h5>
                            <table class="table">
                                <tbody>
                                <tr>
                                    <th>Name</th>
                                    <td>{{ order.customer.full_name }}</td>
                                </tr>
                                <tr>
                                    <th>Phone number</th>
                                    <td>{{ order.customer.phone_number }}</td>
                                </tr>
                                <tr>
                                    <th>Payment date</th>
                                    <td>{{ order.customer_payment_date }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary mr-auto" data-dismiss="modal">Close</button>
                        <a href="/entity-management/confirm-payments/{{ order.id }}/reject/" id="cancel-order-button"
                           class="btn btn-danger">Reject</a>
                        <a href="/entity-management/confirm-payments/{{ order.id }}/approve/" id="approve-order-button"
                           class="btn btn-success">Approve</a>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endfor %}

</body>
</html>