<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wishlist</title>

    <!-- Bootstrap CDNs -->
    {% include 'bootstrap.html' %}

    <!-- Custom CSS go here -->
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/nav.css' %}">
    <link rel="stylesheet" href="{% static '/css/wishlist.css' %}">

    <!-- Custom JS go here -->
    <script type="text/javascript" src="{% static '/js/nav.js' %}/"></script>
    <script type="text/javascript" src="{% static '/js/wishlist.js' %}/"></script>
    <script type="text/javascript" src="{% static "/js/cookie.js" %}"></script>

</head>
<body class="bg-faded">

<!-- Navigation Bar -->
{% include 'customer_nav.html' %}

<!-- Content -->
<section id="wishlist-showcase" class="p-5 m-5">
    <h1 class="text-center mb-4">Your Wishlist</h1>
    {% if search_term or active_stall %}
        <div class="container mb-1">
            {% if search_term %}
                <h3>Search results for <span class="text-muted">{{ search_term }}</span></h3>
            {% endif %}

            {% if active_stall %}
                <h3>{{ active_stall.name }}</h3>
            {% endif %}
        </div>
    {% endif %}


    {% if products %}

        <div class="card-deck">

            {% for product in products %}
                <div class="card m-2 product-card" id="{{ product.name }}">
                    <img class="card-img-top" src="{{ product.photo.url }}" alt="No product image"
                         draggable="false">
                    <div class="card-block">
                        <h4 class="card-title">{{ product.name }}</h4>
                        <p class="card-text">{{ product.description }}</p>
                    </div>

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item "><b
                                class="col-sm-3 pl-0">Price</b>₱{{ product.current_price }}</li>
                    </ul>
                    {% if name %}
                        <!-- Add to cart form -->
                        <form method="POST" action="/product-catalog/">
                            <div class="card-footer border-top-0">
                                <div class="col-12 card-purchase-div">
                                    {% csrf_token %}
                                    <input type="hidden" class="product-id-input" value="{{ product.id }}"
                                           name="product">
                                    <input type="number" class="form-control col-3  mr-2" min="1" max="100"
                                           value="1"
                                           name="quantity">
                                    <button type="submit" class="btn btn-primary col-6 mr-auto">Add to Cart</button>
                                    <!-- TODO: link for wishlisting -->





                                    {% if product in wishlist %}
                                        <a
                                                class="d-block wish-link ml-0 wished"
                                                style="width: 40px; height: 40px;"
                                                data-toggle="tooltip"
                                                data-placement="top" title="Remove this from my Wishlist">
                                    {% else %}
                                        <a
                                                class="d-block wish-link ml-0"
                                                style="width: 40px; height: 40px;"
                                                data-toggle="tooltip"
                                                data-placement="top" title="Add this to my Wishlist">
                                    {% endif %}


                                    <div>
                                                <span class="wish-button">
                                                    <svg
                                                            xmlns:dc="http://purl.org/dc/elements/1.1/"
                                                            xmlns:cc="http://creativecommons.org/ns#"
                                                            xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
                                                            xmlns:svg="http://www.w3.org/2000/svg"
                                                            xmlns="http://www.w3.org/2000/svg"
                                                            xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
                                                            xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
                                                            version="1.1" x="0px" y="0px" viewBox="0 0 100 100">
                                                            <g transform="translate(0,-952.36218)">
                                                                <path d="m 18.35665,975.81931 c -7.1457,7.27618 -7.1387,18.98457 0,26.26779 l 31.6236,32.2751 c 10.5535,-10.7459 21.107,-21.4919 31.6604,-32.2378 7.1458,-7.27617 7.1458,-18.99161 0,-26.26779 -7.1458,-7.27618 -18.6513,-7.27628 -25.7972,0 l -5.8265,5.93266 -5.863,-5.96996 c -7.1459,-7.27618 -18.6514,-7.27618 -25.7973,0 z"
                                                                      style="enable-background:accumulate;"
                                                                      stroke="none" marker="none"
                                                                      visibility="visible" display="inline"
                                                                      overflow="visible">
                                                                </path>
                                                            </g>
                                                    </svg>
                                                </span>
                                    </div>
                                    </a>
                                </div>
                            </div>
                        </form>

                    {% endif %}

                </div>

            {% endfor %}

        </div>


    {% else %}
        <!--No products message -->
        <div class="list-group-item empty-message container p-5" id="empty-stall-message">
            <div class="container text-center p-5 m-5">
                <h3 class="empty-message-text w-100">There are no products in your wishlist.</h3>
                <p class="text-muted w-100 mb-5">Products in your wishlist will show up here.
                    Click the heart icon on a product card to add them to the wishlist.</p>
                <a class="btn btn-outline-primary btn-lg ml-auto mr-auto" href="/">Browse products</a>
            </div>
        </div>

    {% endif %}


</section>

</body>
</html>