<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Waitlist</title>

    <!-- Bootstrap CDNs -->
    {% include 'bootstrap.html' %}

    <!-- Custom CSS go here -->
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/nav.css' %}">

    <!-- Custom JS go here -->
</head>
<body class="bg-faded">

<!-- Navigation Bar -->
{% include 'customer_nav.html' %}

<!-- Content -->
<div id="content" class="p-5 m-5">

    <h1 class="text-center mb-5">Waitlisted Items</h1>
    {% if waitlist %}

        <table class="table table-hover">
            <thead>
            <tr>
                <th></th>
                <th>Product Name</th>
                <th>Waitlist Date</th>
                <th></th>
            </tr>
            </thead>
            <tbody>

            {% for waitlist in waitlists %}
                <tr>
                    <td></td>
                    <td><b>{{ waitlist.product.name }}</b></td>
                    <td>{{ waitlist.date_added | date:"DATE_FORMAT" }}</td>
                    <td><a href="#" class="btn btn-danger">Remove</a></td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <!--No products message -->
        <div class="list-group-item empty-message container p-5" id="empty-stall-message">
            <div class="container text-center p-5 m-5">
                <h3 class="empty-message-text w-100">There are no products in your waitlist.</h3>
                <p class="text-muted w-100 mb-5">Products in your waitlist will show up here.</p>
                <a class="btn btn-outline-primary btn-lg ml-auto mr-auto" href="/">Browse products</a>
            </div>
        </div>
    {% endif %}
</div>

</body>

</html>