<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
{% load static %}

<script>
    $(() => {
        $('[data-toggle="tooltip"]').tooltip();
    })
</script>

<nav class="navbar navbar-toggleable-md navbar-light">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a href="/" class="navbar-brand mr-3 ml-3 mt-1 mb-1" id="logo">A2D Wireless</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form method="GET" action="/product-catalog/search" class="form-inline my-2 my-lg-0 mr-3 ml-3"
              id="search-group">
            <input class="form-control mr-sm-2 bg-faded" type="text" placeholder="Search Products" id="search-bar"
                   name="search-query" value="{{ search_term }}">
        </form>

        <ul class="navbar-nav">
            {% if name %}
                <li class="nav-item">
                    <a href="/checkout/cart/" class="btn btn-primary mr-2">Cart
                        {% if cart.product_count > 0 %}
                            <span class="badge badge-success ml-1 rounded-circle">{{ cart.product_count }}</span>
                        {% endif %}
                    </a>
                </li>
                <li class="nav-item" style="" data-toggle="tooltip"
                    data-placement="bottom" title="Wishlist">
                    <a href="/wishlist/" class="d-block p-0 ml-3 mr-3" style="width: 40px; height: 40px;">
                        <span>
                            <svg
                                    id="wishlist_icon"
                                    version="1.1" x="0px" y="0px" viewBox="0 0 100 100">
                            <g transform="translate(0,-952.36218)">
                                <path d="m 18.35665,975.81931 c -7.1457,7.27618 -7.1387,18.98457 0,26.26779 l 31.6236,32.2751 c 10.5535,-10.7459 21.107,-21.4919 31.6604,-32.2378 7.1458,-7.27617 7.1458,-18.99161 0,-26.26779 -7.1458,-7.27618 -18.6513,-7.27628 -25.7972,0 l -5.8265,5.93266 -5.863,-5.96996 c -7.1459,-7.27618 -18.6514,-7.27618 -25.7973,0 z"
                                      style="enable-background:accumulate;"
                                      stroke="none" marker="none"
                                      visibility="visible" display="inline" overflow="visible">
                                </path>
                            </g>
                        </svg>
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <div class="btn-group">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            Hello, {{ name }}
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="/user-profile/">Customer Profile</a>
                            <a class="dropdown-item" href="/orders/">View Orders</a>
                            <a class="dropdown-item" href="/orders/waitlist/">Waitlisted Items</a>
                            <a class="dropdown-item" href="/sign-out/">Sign Out</a>
                        </div>
                    </div>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/customer-sign-in/">Sign in</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/customer-sign-up/">Create an account</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
</body>
</html>