<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Orders</title>

    <!-- Bootstrap CDNs -->
    {% include 'bootstrap.html' %}

    <!-- Custom CSS go here -->
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/nav.css' %}">
    <link rel="stylesheet" href="{% static '/css/customer_orders.css' %}">

</head>
<body class="bg-faded">

<!-- Navigation Bar -->
{% include 'customer_nav.html' %}

<!-- Content -->
<div class="container-fluid d-flex p-5 m-3">

    <script>
        $(() => {

            // This nasty hacks lets you collapse and show the accordion without affecting the others
            $('.collapse').collapse('hide');

            const expand = "{{ expand }}";
            $('#' + expand + "-orders").collapse('show');
        });
    </script>

    <div id="accordion">
        {% for order_type, order_list in orders.items %}
            <div class="card">
                <div class="card-header" role="tab" id="approved">
                    <h5 class="mb-0">
                        <a data-toggle="collapse" data-parent="#accordion" href="#{{ order_type }}-orders"
                           aria-expanded="true"
                           aria-controls="pending-orders">
                            {{ order_type|capfirst }} Orders
                        </a>
                    </h5>
                </div>

                <div id="{{ order_type }}-orders" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                    <ul class="list-group rounded-0">
                        {% for order in order_list %}
                            {% if order.id == active_order.id %}
                                <li class="list-group-item active">Order #{{ order.id }}</li>
                            {% else %}
                                <a class="list-group-item" href="/orders/{{ order.id }}">Order #{{ order.id }}</a>
                            {% endif %}
                        {% empty %}

                            <div class="container-fluid p-5 text-center">
                                <h5>There's nothing here</h5>
                                <p class="text-muted">Orders that are {{ order_type }} will show up here.</p>
                            </div>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>

    <!-- Products of the Selected Order -->
    <section id="order-products">
        {% if active_order %}
            <div class="d-flex">
                <div class="mb-3">
                    <h2 class="d-block">Order #{{ active_order.id }}</h2>
                    <h5 class="text-muted mt-2">Ordered {{ active_order.date_ordered }}</h5>
                </div>

                {% if active_order.status == "P" %}
                    <div class="ml-auto">
                        <button class="btn btn-outline-danger" data-toggle="modal"
                                data-target="#cancel-product-modal">Cancel
                        </button>
                    </div>
                {% endif %}
            </div>

            {% if active_order.status == "C" %}
                <div class="alert alert-danger mr-auto d-flex" role="alert">
                    <div>
                        <p><strong>Note:</strong> This order has been cancelled.</p>
                    </div>
                </div>
            {% endif %}

            {% if active_order.status == "S" %}
                <div class="alert alert-success mr-auto d-flex" role="alert">
                    <div>
                        <p><strong>Success!</strong> This order has been shipped.</p>
                    </div>
                </div>
            {% endif %}

            {% if active_order.status == "P" %}
                <div class="alert alert-warning mr-auto d-flex" role="alert">
                    <div>
                        <p><strong>Warning! </strong> This order will be cancelled if
                            payment details are not received.
                        </p>
                    </div>
                    <button data-toggle="modal"
                            data-target="#payment-instructions-modal" class="btn btn-sm btn-warning ml-auto mr-2">
                        Payment
                        Instructions
                    </button>
                    <button data-toggle="modal"
                            data-target="#payment-details-modal" class="btn btn-sm btn-warning">Confirm Payment
                    </button>
                </div>
            {% endif %}

            {% if active_order.status == "A" %}
                {% if active_order.payment_verified %}
                    <div class="alert alert-success mr-auto d-flex" role="alert">
                        <div>
                            <p><strong>Success! </strong> Payment has already been verified.</p>
                        </div>
                    </div>
                {% else %}
                    <div class="alert alert-info mr-auto d-flex" role="alert">
                        <div>
                            <p><strong>Note: </strong> Payment is undergoing verification.</p>
                        </div>
                    </div>
                {% endif %}
            {% endif %}

        {% else %}
            <div class="list-group-item rounded empty-message w-100 h-100"
                 style="max-height: 400px; min-height: 400px;">
                <h5 class="empty-message-text w-100 text-center">To view order details, select an order from the
                    left</h5>
            </div>
        {% endif %}

        {% if line_items %}

            <table class="table w-100">
                <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Product Price</th>
                    <th>Quantity</th>
                </tr>
                </thead>
                <tbody>
                {% for line_item in line_items %}
                    <tr>
                        <td>{{ line_item.product.name }}</td>
                        <td>₱{{ line_item.line_price }}</td>
                        <td>{{ line_item.quantity }}</td>
                    </tr>
                {% endfor %}

                <tr>
                    <td><h4>Total Price</h4></td>
                    <td><h4>₱{{ total_price }}</h4></td>
                    <td></td>
                </tr>

                </tbody>
            </table>
        {% endif %}
    </section>
</div>


<!-- Input Payment Details Modal -->
<div class="modal fade" id="payment-details-modal" tabindex="-1" role="dialog" aria-labelledby="title"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form method="POST" action="/confirm-payment/" enctype="multipart/form-data">

            <div class="modal-content">
                <div class="modal-body">
                    <div class="container p-4 mt-1">
                        <!-- Alert goes here -->
                        <!-- TODO: Templating -->
                        <div class="alert alert-danger" role="alert">
                            <strong>Warning:</strong> Error message.
                        </div>
                        <h5 class="text-muted">Enter your date of payment and upload a photo of your deposit slip for
                            your
                            order to be delivered.</h5>
                        {% csrf_token %}
                        <div>
                            <input type="hidden" name="order-id" value="{{ active_order.id }}">
                            <div class="form-group row mt-3">
                                <div class="col-10">
                                    <label for="payment-date-input">Date of Payment</label>
                                    <input class="form-control" type="date" value="" id="payment-date-input"
                                           name="date">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="slip-photo">Deposit Slip Photo</label>
                                <input type="file" class="form-control-file" id="slip-photo"
                                       aria-describedby="fileHelp" name="deposit-slip">
                            </div>
                        </div>

                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>

            </div>

        </form>

    </div>
</div>

<!-- Payment Instructions Modal -->
<div class="modal fade" id="payment-instructions-modal" tabindex="-1" role="dialog" aria-labelledby="title"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container p-4 mt-1">
                    <h5>Please deposit your total amount of <span class="text-primary">₱{{ total_price }}</span> in the
                        following account immediately to
                        begin processing your order:</h5>
                    <div class="mt-4">
                        <table class="table table-bordered">
                            <tr>
                                <th scope="row">Account Number</th>
                                <td>0000000000</td>
                            </tr>
                            <tr>
                                <th scope="row">Account Name</th>
                                <td>Strings Manila</td>
                            </tr>

                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Cancel Product Modal -->

{% if active_order.status == "P" %}
    <div class="modal fade" id="cancel-product-modal" tabindex="-1" role="dialog" aria-labelledby="title"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="container p-4 mt-1">
                        <h5>Are you sure you want to cancel this order?</h5>
                    </div>
                    <div class="modal-footer">
                        <a href="/orders/{{ active_order.id }}/cancel/" class="btn btn-danger">Cancel Order</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endif %}

</body>
</html>