<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body class="bg-faded">

<!-- Content -->
<div class="container p-5 mt-1" id="content">
    <h3 class="text-muted">Enter your payment details for your order to be delivered.</h3>
    <form action="" id="payment-details">
        <div>
            <div>
                <div class="form-group">
                    <label for="orderNumbers">Order Number</label>
                    <!-- Only orders that haven't been shipped should appear here -->
                    <select class="form-control" id="orderNumbers">
                        <option>Order #1</option>
                        <option>Order #2</option>
                        <option>Order #3</option>
                        <option>Order #4</option>
                        <option>Order #5</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="customer-name">Full Name</label>
                <input class="form-control" id="customer-name" aria-describedby="name-help"
                       placeholder="Enter your name">
            </div>
            <div class="form-group row mt-3">
                <div class="col-10">
                    <label for="payment-date-input">Date of Payment</label>
                    <input class="form-control" type="date" value="" id="payment-date-input">
                </div>
            </div>
            <div class="form-group">
                <label for="slip-photo">Deposit Slip Photo</label>
                <input type="file" class="form-control-file" id="slip-photo" aria-describedby="fileHelp">
            </div>
        </div>
    </form>
</div>

</body>
</html>