<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Waitlist</title>

    <!-- Bootstrap CDNs -->
    {% include 'bootstrap.html' %}

    <!-- Custom CSS go here -->
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/nav.css' %}">
    <link rel="stylesheet" href="{% static '/css/cart.css' %}">

    <!-- Custom JS go here -->
</head>
<body class="bg-faded">

<!-- Navigation Bar -->
{% include 'customer_nav.html' %}

<!-- Content -->
<div id="content" class="p-5 m-5">
    <h1 class="text-center mb-5">Waitlisted Items</h1>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Product Name</th>
            <th>Amount</th>
            <th>Waitlist Date</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>System Complexity</td>
            <td>P 1900</td>
            <td>18-06-2017</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="3" class="text-center text-muted pt-5">
                <small>
                    <b>END OF WAITLISTED ITEMS</b>
                </small>
            </td>
        </tr>
        </tfoot>
    </table>
</div>

</body>

</html>