<!DOCTYPE html>
<html lang="en" class="h-100 w-100">
<head>
    <meta charset="UTF-8">
    <title>Strings Manila | You're Lost</title>
    <!-- Bootstrap CDNs -->
    {% include 'bootstrap.html' %}

</head>

<body class="d-flex align-items-center h-100" style="background  : #eceeef">

<div class="jumbotron p-5 m-5 w-100">
    <h1 class="display-3">Yikes!</h1>
    <p class="lead">Sorry, the page cannot be found.</p>
    <hr class="my-4">
    <p>Return to the store or sign in as an administrator.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/" role="button">Back to home page</a>
        <a class="btn btn-primary btn-lg" href="/admin-sign-in/" role="button">Sign in as administrator</a>
    </p>
</div>

</body>
</html>