<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Orders Report</title>

    <!-- Bootstrap CDNs -->
    {% include 'bootstrap.html' %}

    <!--Custom CSS-->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/entity_management.css' %}">
    <link rel="stylesheet" href="{% static 'css/general.css' %}">

    <!--Import custom JS here-->
    <script type="text/javascript" src="{% static "/js/general.js" %}"></script>
    <script type="text/javascript" src="{% static "/js/jquery-3.1.1.js" %}"></script>
    <script type="text/javascript" src="{% static "/js/entity_management.js" %}"></script>
    <script type="text/javascript" src="{% static "/js/cookie.js" %}"></script>
    <script type="text/javascript" src="{% static "/js/dates.js" %}"></script>

</head>
<body>

<!--Nav Bar-->
{% include 'entity_nav.html' %}

<!-- Content -->
<div id="content" class="p-4 m-4">
    <h1>View Orders</h1>
    <h6 class="text-muted">Filter orders by status</h6>
    <br>
    <div class="mb-3">
        <table class="table">
            <thead>
            <tr>
                <th>Order Status</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <div class="form-group">
                        <div class="form-group">
                            <select class="form-control" id="orderStatus">
                                {% for order_type, order_list in orders.items %}
                                    <option>{{ order_type }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input class="form-control" type="date" id="start-date-input">
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input class="form-control" type="date" id="end-date-input">
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Order No.</th>
            <th>Total</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>000000</td>
            <td>P 1900</td>
            <td>Delivered</td>
        </tr>
        <tr>
            <td>111111</td>
            <td>P 25000</td>
            <td>On its way</td>
        </tr>
        <tr>
            <td>777777</td>
            <td>P 340</td>
            <td>Delivered</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="3" class="text-center text-muted pt-5">
                <small>
                    <b>END OF REPORT</b>
                </small>
            </td>
        </tr>
        </tfoot>
    </table>
</div>

</body>
</html>