<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <title>Purchase Complete</title>

    <!-- Bootstrap CDNs -->
    {% include 'bootstrap.html' %}

    <!-- Custom CSS go here -->
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/nav.css' %}">
    <link rel="stylesheet" href="{% static '/css/purchase.css' %}">

    <!-- Custom JS go here -->

</head>
<body class="h-100">

<!-- Navigation Bar -->
{% include 'customer_nav.html' %}

<!-- Content -->
<div id="master-detail">
    <div class="h-100" id="top-div">
        <h1 class="display-5">Thank you!</h1>
        <hr class="my-4">
    </div>
    <div id="instructions">
        <h4>Please deposit your total amount of ₱{{ total_price }} in the following account immediately to begin processing your order:</h4>
        <div class="mt-4">
            <table class="table table-bordered">
                <tr>
                    <th scope="row">Account Number</th>
                    <td>0000000000</td>
                </tr>
                <tr>
                    <th scope="row">Account Name</th>
                    <td>Strings Manila</td>
                </tr>

            </table>
            <p>You can view these instructions again in the order page.</p>
        </div>

        <hr class="my-4">

    </div>
    <p class="lead mt-4" style="margin-left: 100px;">
        <a class="btn btn-outline-primary btn-lg mr-2" href="/orders/" role="button">View Orders</a>
        <a class="btn btn-outline-primary btn-lg" href="/" role="button">Back to Strings Manila</a>
    </p>
</div>

</body>
</html>