<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Replenish Stocks</title>

    <!-- Bootstrap CDNs -->
    {% include 'bootstrap.html' %}

    <!--Custom CSS-->
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/replenish.css' %}">

    <!--Import custom JS here-->

</head>
<body class="bg-faded">

<!--Nav Bar-->
{% include 'entity_nav.html' %}


<div id="master-detail">

    <!-- OUT OF STOCK -->
    <div id="out-of-stock">
        <h3>&nbspOut of Stock</h3>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Product No.</th>
                <th>Product Name</th>
                <th>Product Quantity</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>33</td>
                <td>iPhone 6S</td>
                <td>0</td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- LOW ON STOCK -->
    <div id="low-stock">
        <h3>&nbspLow Stock</h3>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Product No.</th>
                <th>Product Name</th>
                <th>Product Quantity</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>34</td>
                <td>Macbook Pro</td>
                <td>5</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

</body>
</html>