<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Replenish Stocks</title>

    <!-- Bootstrap CDNs -->
    {% include 'bootstrap.html' %}

    <!--Custom CSS-->
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/replenish.css' %}">

    <!--Import custom JS here-->

</head>
<body class="bg-faded">

<!--Nav Bar-->
{% include 'entity_nav.html' %}

<!---Nav Bar Active--->
<script>
    $(() => {
        $('#replenish-stocks-nav').addClass('active')
    })
</script>


<div class="container-fluid p-5 ml-5 mr-5">

    <h1 class="text-center m-5">Replenish Stocks</h1>

    <!-- OUT OF STOCK -->
    <div class="container-fluid mb-5 p-3">
        <h3 class="mb-3">Out of Stock</h3>
        {% if out_of_stock %}
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Stall</th>
                    <th>Product Quantity</th>
                </tr>
                </thead>
                <tbody>
                {% for product in out_of_stick %}
                    <tr data-toggle="modal" data-target="#restock-{{ product.id }}">
                        <td>{{ product.name }}</td>
                        <td>{{ product.stall.name }}</td>
                        <td><b>OUT OF STOCK</b></td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        {% else %}
            <div class="container-fluid alert alert-success p-5 text-center">
                <h3 class="mb-2 pt-3">There's nothing here</h3>
                <h6 class="text-muted pb-3">Products that are out of stock will show up here</h6>
            </div>
        {% endif %}
    </div>

    <!-- LOW ON STOCK -->
    <div class="container-fluid mb-5 p-3">
        <h3>Low Stock</h3>
        <h6 class="text-muted mb-4">Products with a quantity of less than 20</h6>

        {% if low_stock %}
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Stall</th>
                    <th>Product Quantity</th>
                </tr>
                </thead>
                <tbody>

                {% for product in low_stock %}
                    <tr data-toggle="modal" data-target="#restock-{{ product.id }}">
                        <td>{{ product.name }}</td>
                        <td>{{ product.stall.name }}</td>
                        <td><b>{{ product.quantity }}</b></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        {% else %}
            <div class="container-fluid alert alert-success p-5 text-center">
                <h3 class="mb-2 pt-3">There's nothing here</h3>
                <h6 class="text-muted pb-3">Products with a quantity of less than 20 will show up here</h6>
            </div>
        {% endif %}

    </div>

    <!-- OTHERS -->
    <div class="container-fluid p-3">
        <h3 class="mb-3">Other products</h3>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Product Name</th>
                <th>Stall</th>
                <th>Product Quantity</th>
            </tr>
            </thead>
            <tbody>
            {% for product in others %}
                <tr data-toggle="modal" data-target="#restock-{{ product.id }}">
                    <td>{{ product.name }}</td>
                    <td>{{ product.stall.name }}</td>
                    <td><b>{{ product.quantity }}</b></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

</div>


<!-- Restock Modal -->
{% for product in products %}
    <div class="modal fade" id="restock-{{ product.id }}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Restock {{ product.name }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="/entity-management/replenish/{{ product.id }}/" method="POST">
                    {% csrf_token %}
                    <div>
                        <div class="modal-body ml-auto mr-auto">
                            <label>Input stocks</label>
                            <input type="number" class="form-control col-sm-5 mt-0 ml-0" min="0"
                                   value="{{ product.quantity }}"
                                   name="quantity">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" id="create-stall-button" class="btn btn-primary">Restock</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endfor %}

</body>
</html>