<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Replenish Stocks</title>

    <!-- Bootstrap CDNs -->
    {% include 'bootstrap.html' %}

    <!--Custom CSS-->
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/replenish.css' %}">

    <!--Import custom JS here-->

</head>
<body class="bg-faded">

<!--Nav Bar-->
{% include 'entity_nav.html' %}


<div id="master-detail">

    <!-- OUT OF STOCK -->
    <div id="out-of-stock">
        <h3>&nbspOut of Stock</h3>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Product No.</th>
                <th>Product Name</th>
                <th>Product Quantity</th>
            </tr>
            </thead>
            <tbody>
            <tr data-toggle="modal" data-target="#restock-modal">
                <td>33</td>
                <td>iPhone 6S</td>
                <td>0</td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- LOW ON STOCK -->
    <div id="low-stock">
        <h3>&nbspLow Stock</h3>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Product No.</th>
                <th>Product Name</th>
                <th>Product Quantity</th>
            </tr>
            </thead>
            <tbody>
            <tr data-toggle="modal" data-target="#restock-modal">
                <td>34</td>
                <td>Macbook Pro</td>
                <td>5</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Restock Modal -->
<div class="modal fade" id="restock-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Restock [Product Name]</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div>
                <div class="modal-body ml-auto mr-auto">
                    <label>Input stocks</label>
                    <input type="number" class="form-control col-sm-5 mt-0 ml-0" min="1" max="100" value="1"
                           name="quantity">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="create-stall-button" class="btn btn-primary">Restock</button>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>