<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sales Report</title>

    <!-- Bootstrap CDNs -->
    {% include 'bootstrap.html' %}

    <!--Custom CSS-->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/entity_management.css' %}">
    <link rel="stylesheet" href="{% static 'css/general.css' %}">

    <!--Import custom JS here-->
    <script type="text/javascript" src="{% static "/js/general.js" %}"></script>
    <script type="text/javascript" src="{% static "/js/jquery-3.1.1.js" %}"></script>
    <script type="text/javascript" src="{% static "/js/entity_management.js" %}"></script>
    <script type="text/javascript" src="{% static "/js/cookie.js" %}"></script>
    <script type="text/javascript" src="{% static "/js/dates.js" %}"></script>

</head>
<body>

<!--Nav Bar-->
{% include 'entity_nav.html' %}

<!-- Date entry alert -->
{% if date_is_conflict %}
    <div class="alert alert-danger rounded-0" role="alert">
        <strong>Invalid Dates:</strong> The end date is earlier than the start date
    </div>
{% endif %}

<!---Nav Bar Active--->
<script>
    $(() => {
        $('#sales-report-nav').addClass('active')
    })
</script>

<!-- Content -->
<div id="content" class="p-5 m-5">
    <h1>Stall Sales</h1>
    <h6 class="text-muted">Generated {{ current_date }}</h6>
    <br>
    <div class="mb-3">
        <form method="GET" class="form-group">
            <table class="table">
                <thead>
                <tr>
                    <th>Starting Date</th>
                    <th>Ending Date</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <input class="form-control" type="date" id="start-date-input" name="start_date">
                    </td>
                    <td>
                        <input class="form-control" type="date" id="end-date-input" name="end_date">
                    </td>
                    <td>
                        <button class="btn btn-primary">Filter</button>
                    </td>
                    <td>
                        <a href="/entity-management/sales-report/" class="btn btn-secondary">Remove Filter</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
    {% if not date_is_conflict %}
        {% if dates %}
            <h4 class="pt-4 pb-3">Showing sales from <span class="text-muted">{{ dates.start_date }}</span><span
                    class="text-muted"></span> to <span
                    class="text-muted">{{ dates.end_date }}</span>
            </h4>
        {% endif %}
    {% endif %}
    {% if sales_per_stall %}
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Stall Name</th>
                <th>Sales Total</th>
            </tr>
            </thead>
            <tbody>
            {% if sales_per_stall %}
                {% for stall, price in sales_per_stall.items %}
                    <tr data-toggle="modal" data-target="#stall-detail-{{ stall.id }}">
                        <td>{{ stall }}</td>
                        <td>₱{{ price }}</td>
                    </tr>
                {% endfor %}
            {% endif %}

            </tbody>
            <tfoot>
            <tr>
                <td colspan="3" class="text-center text-muted pt-5">
                    <small>
                        <b>END OF REPORT</b>
                    </small>
                </td>
            </tr>
            </tfoot>
        </table>

    {% else %}

        <!-- If there is nothing to show -->
        <!--No products message -->
        {% if not sales_per_stall %}
            <div class="list-group-item empty-message container-fluid p-5" id="empty-stall-message">
                <div class="container text-center p-5 m-5">
                    <h4 class="empty-message-text w-100">There are no sales for the given date range</h4>
                </div>
            </div>
        {% endif %}

    {% endif %}


</div>

<!-- Sales Details Modal -->
{% for stall, orders in orders_per_stall.items %}
    <div class="modal fade" id="stall-detail-{{ stall.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Orders for {{ stall.name }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Order No.</th>
                            <th>Total Amount</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for order in orders %}
                            <tr>
                                <td>{{ order.id }}</td>
                                <td>₱{{ order.total_price }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="3" class="text-center text-muted pt-5">
                                <small>
                                    <b>END OF REPORT</b>
                                </small>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

{% endfor %}

</body>
</html>