<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign-Up</title>

    <!-- Bootstrap CDNs -->
    {% include 'bootstrap.html' %}

    <!-- Custom CSS go here -->
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/nav.css' %}">

    <!-- Custom JS go here -->
    <script type="text/javascript" src="{% static '/js/sign_up.js' %}"></script>

</head>
<body class="bg-faded" id="content">

<!-- Navigation Bar -->
{% include 'customer_nav.html' %}

{% if form %}
    <div class="alert alert-danger" role="alert">
        <strong>Oh snap!</strong> You're missing one or more fields.
    </div>
{% endif %}

{% if error %}
    <div class="alert alert-danger" role="alert">
        <strong>Woops!</strong> {{ error }}
    </div>
{% endif %}

<!-- Content -->
<div class="container p-5">
    <h1 class="display-4 mt-5 mb-2 text-center">Welcome to Strings Manila.</h1>
    <p class="text-center pb-5 text-muted">Enter your details below</p>
    <div class="row">
        <div class="col-6 col-md-3"></div>
        <div class="col-6 col-md-6 text-center">
            <!-- TODO: Sticky fields. Something to do with value. -->
            <!-- TODO: That damn JS for input field checking. -->
            <form method="POST" class="col-12" id="inputs">
                {% csrf_token %}
                {% if user %}
                    <div><input type="text" class="form-control form-control-lg col-12 mb-1" placeholder="Username"
                                name="username" value="" id="username"></div>
                {% endif %}
                <div><input type="password" class="form-control form-control-lg col-12 mb-1"
                            placeholder="Password"
                            name="password" id="password" value=""></div>
                <div><input type="password" class="form-control form-control-lg col-12 mb-1"
                            placeholder="Re-type Password"
                            name="re-type" id="re-type" value=""></div>
                <br>
                <div><input type="text" class="form-control form-control-lg col-12 mb-1" placeholder="Full Name"
                            name="full_name" value="" id="name"></div>
                <div><input type="text" class="form-control form-control-lg col-12 mb-1" placeholder="Address"
                            name="address" value="" id="address"></div>
                <div><input type="text" class="form-control form-control-lg col-12 mb-1" placeholder="City" name="city"
                            value="" id="city"></div>
                <div><input type="text" class="form-control form-control-lg col-12 mb-1" placeholder="Postal Code"
                            name="postal_code" value="" id="postal-code"></div>
                <div><input type="text" class="form-control form-control-lg col-12 mb-1" placeholder="Phone Number"
                            name="phone_number" value="" id="number"></div>
                <br>

                <button type="submit" class="btn btn-primary btn-lg m-3 disabled" id="sign-in-button"
                        disabled="disabled">Sign me up!
                </button>
            </form>

            <div id="sign-in-options">
                <a href="/customer-sign-in/" id="sign-up-link">I have an account</a>
            </div>
        </div>
        <div class="col-6 col-md-3"></div>
    </div>
    <br>
</div>

</body>
</html>