<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign In to Iris Online</title>

    <!-- Bootstrap CDNs -->
    {% include 'bootstrap.html' %}

    <!-- Custom CSS go here -->
    {% load static %}
    <link rel="stylesheet" href="{% static "css/nav.css" %}">

    <!-- Custom JS go here -->

</head>
<body class="bg-faded">

<!-- Navigation Bar -->
{% include 'customer_nav.html' %}

{% if error %}
    <div class="alert alert-danger" role="alert">
        <strong>{{ error }}</strong>
    </div>
{% endif %}

<!-- Content -->
<div class="container p-5">
    <h1 class="display-4 text-center p-5">Strings Manila Account</h1>
    <div class="row">
        <div class="col-6 col-md-3"></div>
        <div class="col-6 col-md-6 text-center">
            <form method="POST" class="col-12" id="inputs">
                {% csrf_token %}
                <input type="text" class="form-control form-control-lg col-12 mb-1" placeholder="Username"
                       name="username">
                <input type="password" class="form-control form-control-lg col-12" placeholder="Password"
                       name="password">
                <button type="submit" class="btn btn-primary btn-lg m-5" id="sign-in-button">Sign In</button>
            </form>

            <div id="sign-in-options">
                <a href="/customer-sign-up/" id="sign-up-link">New to Strings Manila?</a>
                <br>
                <a href="/admin-sign-in/" id="sign-up-link">I'm an admin</a>
            </div>
        </div>
        <div class="col-6 col-md-3"></div>
    </div>
</div>

</body>
</html>