<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Waitlist Report</title>

    <!-- Bootstrap CDNs -->
    {% include 'bootstrap.html' %}

    <!--Custom CSS-->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/entity_management.css' %}">
    <link rel="stylesheet" href="{% static 'css/general.css' %}">

    <!--Import custom JS here-->
    <script type="text/javascript" src="{% static "/js/general.js" %}"></script>
    <script type="text/javascript" src="{% static "/js/jquery-3.1.1.js" %}"></script>
    <script type="text/javascript" src="{% static "/js/entity_management.js" %}"></script>
    <script type="text/javascript" src="{% static "/js/cookie.js" %}"></script>
    <script type="text/javascript" src="{% static "/js/dates.js" %}"></script>

</head>
<body>

<!--Nav Bar-->
{% include 'entity_nav.html' %}

<!-- Date entry alert -->
<div class="alert alert-danger" role="alert">
    <strong>Woops!</strong> You entered wrong or conflicting dates.
</div>

<!-- Content -->
<div id="content" class="p-4 m-4">
    <h1>Waitlist Report</h1>
    <h6 class="text-muted">Generated [current date]</h6>
    <br>
    <div class="mb-3">
        <table class="table" style="width: 700px;">
            <thead>
            <tr>
                <th>Starting Date</th>
                <th>Ending Date</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td width="200px">
                    <div class="form-group">
                        <input class="form-control" type="date" id="start-date-input">
                    </div>
                </td>
                <td width="200px">
                    <div class="form-group">
                        <input class="form-control" type="date" id="end-date-input">
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <table class="table table-striped table-hover" style="width: 600px;">
        <thead>
        <tr>
            <th>Product Name</th>
            <th>Current Waitlist Count</th>
            <th>Overall Waitlist Count</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>System Complexity</td>
            <td>10</td>
            <td>30</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="2" class="text-center text-muted pt-5">
                <small>
                    <b>END OF REPORT</b>
                </small>
            </td>
        </tr>
        </tfoot>
    </table>
</div>

</body>
</html>