<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Waitlists</title>

    <!-- Bootstrap CDNs -->
    {% include 'bootstrap.html' %}

    <!--Custom CSS-->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/entity_management.css' %}">
    <link rel="stylesheet" href="{% static 'css/general.css' %}">

    <!--Import custom JS here-->
    <script type="text/javascript" src="{% static "/js/general.js" %}"></script>
    <script type="text/javascript" src="{% static "/js/jquery-3.1.1.js" %}"></script>
    <script type="text/javascript" src="{% static "/js/entity_management.js" %}"></script>
    <script type="text/javascript" src="{% static "/js/cookie.js" %}"></script>
    <script type="text/javascript" src="{% static "/js/dates.js" %}"></script>

</head>
<body>

<!--Nav Bar-->
{% include 'entity_nav.html' %}

<!---Nav Bar Active--->
<script>
    $(() => {
        $('#waitlist-nav').addClass('active')
    })
</script>

<!-- Content -->
<div id="content" class="p-5 m-5">
    <h1>Waitlists</h1>
    <h6 class="text-muted mb-4">Generated {{ current_date }}</h6>
    <br>

    <div class="container-fluid mb-5 p-0">
        <h4 class="mb-4">Products currently waitlisted</h4>
        {% if products_currently_waitlisted %}
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Current Waitlist Count</th>
                    <th>Overall Waitlist Count</th>
                </tr>
                </thead>
                <tbody>

                {% for waitlist_statistics in products_currently_waitlisted %}
                    <tr>
                        <td>{{ waitlist_statistics.product.name }}</td>
                        <td>{{ waitlist_statistics.current_waitlists }}</td>
                        <td>{{ waitlist_statistics.total_waitlists }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        {% else %}
            <div class="list-group-item empty-message container-fluid p-5" id="empty-stall-message">
                <div class="container text-center">
                    <h4 class="empty-message-text w-100">There are no waitlisted products</h4>
                </div>
            </div>
        {% endif %}


    </div>

    <div class="container-fluid p-0">

        <h4 class="mb-4">Products not waitlisted</h4>

        {% if products_not_waitlisted %}

            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Overall Waitlist Count</th>
                </tr>
                </thead>
                <tbody>

                {% for waitlist_statistics in products_not_waitlisted %}


                    <tr>
                        <td>{{ waitlist_statistics.product.name }}</td>
                        <td>{{ waitlist_statistics.total_waitlists }}</td>
                    </tr>

                {% endfor %}
                </tbody>
            </table>

        {% else %}
            <div class="list-group-item empty-message container-fluid p-5" id="empty-stall-message">
                <div class="container text-center p-5 m-5">
                    <h4 class="empty-message-text w-100">There are no products that are not waitlisted</h4>
                </div>
            </div>
        {% endif %}

    </div>
</div>

</body>
</html>