<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wishlist Report</title>

    <!-- Bootstrap CDNs -->
    {% include 'bootstrap.html' %}

    <!--Custom CSS-->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/entity_management.css' %}">
    <link rel="stylesheet" href="{% static 'css/general.css' %}">

    <!--Import custom JS here-->
    <script type="text/javascript" src="{% static "/js/general.js" %}"></script>
    <script type="text/javascript" src="{% static "/js/jquery-3.1.1.js" %}"></script>
    <script type="text/javascript" src="{% static "/js/entity_management.js" %}"></script>
    <script type="text/javascript" src="{% static "/js/cookie.js" %}"></script>
    <script type="text/javascript" src="{% static "/js/dates.js" %}"></script>

</head>
<body>

<!--Nav Bar-->
{% include 'entity_nav.html' %}

<!-- Content -->
<div id="content" class="p-4 m-4">
    <h1>Wishlist Report</h1>
    <h6 class="text-muted">Generated [current date]</h6>
    <br>
    <table class="table table-striped" style="width: 600px;">
        <thead>
        <tr>
            <th>Product Name</th>
            <th>Count</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>System Complexity</td>
            <td>10</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="2" class="text-center text-muted pt-5">
                <small>
                    <b>END OF REPORT</b>
                </small>
            </td>
        </tr>
        </tfoot>
    </table>
</div>

</body>
</html>